// CSS Grid
$grid-y: 8px;
$grid-x: 8px;
$grid-column: $grid-x*4;
$grid-row: $grid-y*4;
@mixin grid-column($number: 1) {
  width: $grid-column*$number;
}

// Fonts
$font-size-1: 24px;
$font-size-2: 20px;
$font-size-3: 16px;
$font-size-4: 13px;


// Colors
$black1: hsl(0,0,0);
$black2: hsl(0,0,50);
$black3: hsl(0,0,90);
$black4: hsl(0,0,98);

// Buttons
@mixin button() {
  cursor: pointer;
}